page-ilan-detay {
    h2.mesaj-ilansahibi {
        text-align: right;
    }
    h2.mesaj-kullanici {
        text-align: left;
    }
    iframe {
        width: 100%;
        height: 200px;
    }

    // İOS HEADER
    .toolbar-title-ios{
        text-align: left !important;
    }   
    .toolbar-ios ion-title {
        padding-left: 40px;
    }
}
