page-gecmis {
    /*
    .gecmis {
        .avatar{
            height: 61px;
            overflow: hidden;
        }
        .avatar img {
            width: 86px;
        }
        ion-refresher {
        top: 20px !important;
        }
    }
    */
}
