page-ilanlar-liste {
    .toolbar-background {
        background: linear-gradient(to right, #4a618a, #387ef5) !important;
    }
    .toolbar-title-ios {
        text-align: center !important;
        margin-right: 20px;
    }
}
